.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list-wrapper {
  display: flex;
  max-width: 1440px;
  justify-content: space-around;
  margin: 0 auto;
}

.m2 {
  margin: 2em;
}
