* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}

.App {
  font-size: 16px;
  margin: 5rem auto;
  padding: 0 2rem;
  max-width: 1280px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #7e7e7e;
}

ul {
  margin: 0;
  margin-top: 3rem;
}

input {
  padding: 0.5rem 1.5rem;
  min-width: 20rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #bdbdbd;
}

@media screen and (max-width: 570px) {
  html {
    font-size: 14px;
  }
  input {
    min-width: 15rem;
  }
}
.App-header h1 {
  font-size: 4rem;
  font-weight: 100;
}
.sub-title {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 400;
}
.wrapper {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: flex-start;
}

.list-wrapper {
  flex: 1 1 400px;
  background-color: #f4f2eb;
  border-radius: 1rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2rem 1.5rem;
}
@media screen and (max-width: 960px) {
  .wrapper {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: stretch;
  }
  .list-wrapper {
    flex: 1 1 100px;
  }
}

.btn {
  color: white;
  background-color: #7e7e7e;
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 200ms ease-out;
  font-weight: 600;
}
.btn:hover {
  background-color: #1ed760;
}
.btn:active {
  background-color: #1c9122;
}
.btn-large {
  padding: 1rem 3rem;
  font-size: 1.5rem;
  line-height: 1.333rem;
}
.btn-small {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.btn-mini {
  padding: 0.5rem 0.6rem;
  font-size: 1rem;
  line-height: 1;
}

input::placeholder {
  opacity: 0.5;
}

.mr1nh {
  margin-right: 1.5rem;
}
.mb5 {
  margin-bottom: 5rem;
}
.pt5 {
  padding-top: 5rem;
}
